# apps and boot
set $nautilus nautilus --no-desktop
set $chrome google-chrome-stable
set $brave brave
set $librewolf librewolf
set $telegram telegram-desktop
set $signalapp signal-desktop --enable-features=UseOzonePlatform --ozone-platform=wayland
set $matrix_client element-desktop --enable-features=UseOzonePlatform --ozone-platform=wayland
set $obsidian obsidian --enable-features=UseOzonePlatform --ozone-platform=wayland

set $chrome_as_default_browser xdg-settings set default-web-browser google-chrome.desktop && notify-send "Google Chrome has been set as default-web-browser"
set $brave_as_default_browser xdg-settings set default-web-browser brave-browser.desktop && notify-send "Brave has been set as default-web-browser"
set $librewolf_as_default_browser xdg-settings set default-web-browser librewolf.desktop && notify-send "Librewolf has been set as default-web-browser"

# launch favourites
bindsym $mod+F1 exec $obsidian
bindsym $mod+F2 exec $chrome
bindsym $mod+Shift+F2 exec $librewolf
bindsym $mod+F3 exec $signalapp
bindsym $mod+Shift+F3 exec $telegram
bindsym $mod+F4 exec $matrix_client
bindsym $mod+F5 exec $nautilus

bindsym $mod+F9 exec $chrome_as_default_browser
# bindsym $mod+Shift+F9 exec $brave_as_default_browser
bindsym $mod+Shift+F9 exec $librewolf_as_default_browser

exec unclutter

exec kanshi

for_window [class="Telegram"] move to workspace 3
for_window [class="vim" instance="gvim"] floating enable

for_window [title="scratchkitty"] move scratchpad
for_window [title="scratchkitty"] resize set 1500 900
exec kitty --title scratchkitty

# focus wrapping
focus_wrapping no

# start a terminal
$unbindsym $mod+Return
set $term kitty
bindsym $mod+Return exec kitty

# start rofi (program launcher)
# bindsym $mod+d exec rofi -show run -font "Inconsolata Nerd Font 26" -location 0 -lines 8
$unbindsym $mod+Shift+d
bindsym $mod+Shift+d exec rofi -show emoji -modi emoji -font "Inconsolata Nerd Font 18" -location 0 -lines 8

# move the currently focused window to the scratchpad
bindsym $mod+Shift+minus move scratchpad

# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
bindsym $mod+minus scratchpad show

# Background image
set $background ~/Pictures/Wallpapers/current-wallpaper.jpg
output * bg $background fill

# split toggle
bindsym $mod+t split toggle

# focus the child container
bindsym $mod+Shift+a focus child

# spotify handlers
set $playpause exec playerctl -p spotify play-pause
set $playnext exec playerctl -p spotify next
set $playprev exec playerctl -p spotify previous

# player controls
bindsym $mod+p $playpause
bindsym $mod+o $playnext
bindsym $mod+i $playprev

bindsym $mod+Next exec swaymsg '[class=".*"]' move workspace to output eDP-1
bindsym $mod+Prior exec swaymsg '[class=".*"]' move workspace to output HDMI-A-1
