[include]
	path = ~/.user.gitconfig # credentials
[pull]
	rebase = true
[alias]
	aa = add -A
	ap = add -p
	c = commit -v
	cv = commit -v
	cm = commit -m
	ca = commit --amend
	chp = cherry-pick
	co = checkout
	cob = checkout -b
	cc = checkout -- .
	cnt = rev-list --count	# example: git rev-list --count master..HEAD
	d = diff
	ds = diff --staged
	dsn = diff --staged --name-only
	fo = fetch origin
	l = log
	ps = push origin HEAD
	pl = pull --rebase
	rb = rebase -i # example squash 9 commits: git rebase -i HEAD~9
	s = status
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = always
[color "diff-highlight"]
 	oldNormal = red bold
 	oldHighlight = red bold 52
 	newNormal = green bold
 	newHighlight = green bold 22
