[include]
	path = ~/.user.gitconfig # credentials
[pull]
	rebase = true
[alias]
	A = add -A
	ap = add -p
	c = commit -v
	cv = commit -v
	cnv = commit -v --no-verify
	cm = commit -m
	ca = commit --amend
	cane = commit --amend --no-edit
	canenv = commit --amend --no-edit --no-verify
	chp = cherry-pick
	chpa = cherry-pick --abort
	chpc = cherry-pick --continue
	chps = cherry-pick --skip
	co = checkout
	cob = checkout -b
 	cof = "!f() { git checkout $(git branch --no-color | fzf); }; f"
	cc = checkout -- .
	cnt = rev-list --count	# example: git rev-list --count master..HEAD
  cleann = clean -n
  cleanf = clean -f
	d = diff
	dl = diff HEAD~1..HEAD
	ds = diff --staged
	dsn = diff --staged --name-only
    	f = "!f() { nvim -p `git diff --name-only | uniq`; }; f"
	fo = fetch origin
	fwl = push origin HEAD --force-with-lease
	l = log
	ll = log --color --graph --pretty=format:'%Cred%h%Creset %C(bold blue)<%an> %Cgreen(%cr)%Creset%C(yellow)%d%Creset %s ' --abbrev-commit
	lrb = "!f() { git checkout $(git branch --no-color --sort=-committerdate | head -15 | fzf); }; f"
	ps = push origin HEAD
	pst = push --tags
	pl = pull --rebase
	rb = rebase -i # example squash 9 commits: git rebase -i HEAD~9
	rba = rebase --abort
	rbc = rebase --continue
	rbs = rebase --skip
	s = status
	us = reset HEAD # unstage everything
	setHead = reset --hard # <commit hash> as param. Example: git setHead 8ca4aab82b08a1977ca39dba5d1237846f02cd3c
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore_global
[color]
	ui = always
[color "diff-highlight"]
 	oldNormal = red bold
 	oldHighlight = red bold 52
 	newNormal = green bold
 	newHighlight = green bold 22
