# take screenshot
bindsym $mod+Shift+F12 exec "scrot 'i3_screenshot_%Y-%m-%d-%H-%M-%S.png' -e 'mv $f ~/Pictures/Screenshots' && notify-send 'Screenshot: Fullscreen'"
bindsym $mod+F12 exec "flameshot screen -r -p ~/Pictures/Screenshots"

# take screenshot of active window
bindsym $mod+F11 exec "scrot -u 'i3_screenshot_%Y-%m-%d-%H-%M-%S.png' -e 'mv $f ~/Pictures/Screenshots' && notify-send 'Screenshot: Current Window'"

# take screenshot of rectangle
bindsym $mod+Shift+F11 exec "flameshot gui"

