set $nautilus nautilus --no-desktop
set $ranger "kitty ranger"
set $chrome "node ~/perm/i3-individual-workspace-actions/main.js chrome"
set $telegram telegram-desktop
set $spotify spotify -force-device-scale-factor=1.5

# launch favourites
bindsym $mod+F1 exec $ranger
bindsym $mod+F2 exec $chrome
bindsym $mod+F3 exec $telegram
bindsym $mod+F4 exec $spotify
bindsym $mod+F5 exec $nautilus

for_window [class="TelegramDesktop"] move to workspace 3
for_window [class="Spotify"] move to workspace 3

exec --no-startup-id devmon
exec --no-startup-id unclutter
exec --no-startup-id kdeconnect-indicator
exec --no-startup-id dunst

# Autostart applications (Manjaro i3)
exec --no-startup-id /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
# exec --no-startup-id manjaro-hello
exec --no-startup-id nm-applet
exec --no-startup-id blueman-applet
exec --no-startup-id xfce4-power-manager
# exec --no-startup-id pamac-tray
exec --no-startup-id clipit
# exec_always --no-startup-id sbxkb
# exec --no-startup-id start_conky_maia
# exec --no-startup-id start_conky_green
exec_always --no-startup-id ff-theme-util
exec_always --no-startup-id fix_xcursor

exec --no-startup-id ssh-add ~/.ssh/id_rsa
